.body {
    display: flex;
    flex-direction: column; /* Cambio a column */
    justify-content: flex-start; /* Alinea los elementos al inicio */
    align-items: center; /* Centra los elementos horizontalmente */
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.h1 {
    text-align: center;
    margin: 10px;
    width: 100%; /* Asegura que el título ocupe todo el ancho */
}

#mi-dropdown {
    font-size: 16px;  /* Tamaño de fuente */
    width: 700px;     /* Ancho de la lista desplegable */
}

.graph {
    width: 80%; 
    height: 90vh; /* Altura como porcentaje de la altura de la ventana */
    max-height: calc(100vh - 60px); /* Opcional: ajusta para no superar la altura de la ventana */
}
